#main{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
    width: 90%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
#main div{
    box-shadow: rgba(53, 83, 109, 0.48) 6px 2px 16px 0px, rgba(42, 40, 40, 0.8) -6px -2px 16px 0px;
}
img{
    width: 80%;
}
button{
    padding: 20px 35px;
    border: none;
    font-weight: 700;
    display: block;
    margin: 15px auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
}